.personal-info-container > :first-child {
    display: flex;
    justify-content: center;
}

.contact-info-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.job-container {
    display: flex;
    gap: 1rem;
}

.school-container {
    display: flex;
    gap: 1rem;
}